.faq h1{
    text-align: center;
    color: #43121d;
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 25px;
}
.faq span{
    color: #a82d49;
    font-size: 25px;
    font-weight: bold;
}
.faq h6{
    color: #43121d;
}
.faq p{
    color: #333;
}
